<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	<!--  
	<http auto-config="true">
	-->
	<http use-expressions="true"> 
		<intercept-url pattern="/login" access="permitAll"/>
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
		<!--  
		<intercept-url pattern="/admin**" access="ROLE_USER" />
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		-->
		
		<form-login login-page="/login"
					username-parameter="j_username" 
					password-parameter="j_password" 
					login-processing-url="/j_spring_security_check" 
					authentication-failure-url="/login?error" 
		/>
		<!--  
		<form-login 
		    login-page="/login" 
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		-->
		<!-- enable csrf protection 
		
		
		<csrf/>-->
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="hugo" password="1234" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</b:beans>


<!--  
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	-->